.custom-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('imagenes/header.jpg');
    background-size: mosaic; 
    background-position: center;
    background-repeat: repeat;
}

.dropdown-centrado {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
    margin-top: 4rem !important;
}

.custom-font {
    background-image: url('imagenes/novedadesf.jpg') !important;
    background-size: mosaic !important; 
    background-position: center !important;
    background-repeat: repeat !important;
}
